<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<!-- .menu+.menu-options.+(.formula-bar>(input[type = "text"]*2))+.cell-container+.sheets -->

<body>
    <div class="menu">
        <div class="menu-items ib"     id = "file">File</div>
        <div class="menu-items ib" id="home">Home</div>

    </div>
    <div class="menu-options">
        <div id="file-options" class="menu-options-item selected">
            <div id="new" class="ib">New</div>
            <div id="open" class="ib">Open</div>
            <div id="save" class="ib">save</div>
        </div>
        <div id="home-options" class="menu-options-item">home options</div>
    </div>

    <div class="formula-bar">Formula bar
    <input type="text" id="address-container">
    <input type="text" id="formula-container"></div>


    <div class="cell-container">

        <div class="top-left-cell" id="top-left-cell">
        </div>

        <div class="top-row" id="top-row">
            <%for(let j =0;j < cols;j++){%>
            <div class="cell">
                <%=String.fromCharCode(j+65)%>
            </div>
            <%}%>

        </div>

        <div class = " left-col" id="left-col">
            <%for(let i = 1;i<=rows;i++){%>
            <div class="cell">
                <%=i%>
            </div>
            <%}%>
        </div>

        <div class="grid" id="grid">

            <%for(let i=1;i <= rows ; i++){%>
            <div class="row">
                <%for(let j=0;j < cols ;j++){%>
                <div class="cell" contenteditable="true" row-id=<%=i%> col-id=<%=j%>>

                </div>
                <%}%>
            </div>
            <%}%>
            </div>
        </div>
        <div class="sheets">sheets</div>

        <script src="index.js"></script>
</body>

</html>